@keyframes blitz {
    0% {
      background-color: white;
      opacity: 1;
    }
    50% {
      opacity: 0.5; 
    }
    100% {
      background-color: transparent;
      opacity: 1;
    }
  }
  
  .blitz-effect {
    animation: blitz 0.5s ease-in-out;
  }
  
  
  .inverted-video {
    transform: scaleX(-1); 
  }

#scrnsht_btn-container{
    z-index: 1000000;
  }